header {
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
    position: fixed;
    z-index: 100;
}


nav {
    width: 75%;
    display: flex;
    align-items: center;
    
}

nav a {
    text-decoration: none;
    color: gray;
    font-size: 2em;
    
}

.time-wrapper {
    height: 100%;
    width: 30%;
}

#logo-wrapper {
    width: 350px;
    height: 100%;
    position: relative;
}

#logo-wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

#sub-pontoon-wrapper {
    display: none;
    width: 100%;
    height: 300px;
    background-color: aliceblue;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 10;
}

.image-text-wrapper {
    padding: 30px;
    text-align: center;
}

.image-text-wrapper:hover {
    animation: select-item .3s forwards;
}
.image-text-wrapper img {
    border-radius: 50%;
    padding-bottom: 15px;
}

#sub-image-wrapper {
    display: flex;
}

#pontoon-wrapper, #fishing-wrapper, #kayak-wrapper {
    width: auto;
    padding: 32px 30px 32px 30px;
    font-family: 'Merriweather Sans', sans-serif;
}

#pontoon-wrapper:hover #sub-pontoon-wrapper {
    animation: slide-in 0.4s forwards;
    z-index: -5;
    display: relative;
    display: block;

}

@keyframes select-item {
    0% {
        filter: brightness(100%)
    }

    100% { 
        filter: brightness(50%)
    }
}


@keyframes slide-in {
    0% {
        opacity: 0;
        top: 0;
    }

    100% { 
        top: 100px;
        opacity: 2;
    }
}

