header {
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
    font-family: sans-serif;
}


nav {
    width: 75%;
    display: flex;
    align-items: center;
    
}

nav a {
    text-decoration: none;
    color: gray;
    font-size: 2em;
    
}

#logo-wrapper {
    width: 350px;
    height: 100%;
}

#sub-pontoon-wrapper {
    display: none;
    width: 100%;
    height: 250px;
    background-color: aliceblue;
    position: absolute;
    top: 100px;
    left: 0;
}

#pontoon-wrapper, #fishing-wrapper, #kayak-wrapper {
    width: auto;
    padding: 32px 30px 32px 30px;
}

#pontoon-wrapper:hover #sub-pontoon-wrapper {
    animation: slide-in .5 forwards;
    display: block;

}

@keyframes slide-in {
    0% {
        opacity: 0;
        top: 0;
    }

    100% { 
        top: 125px;
        opacity: 1;
    }
}