#pricing-tables {
    height: 1000px;
    width: 100%;
    background-color: #E7C739;
    border: 12px solid white;
    box-sizing: border-box;
    margin-top: 0;

}

.table-wrapper {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 90%;
    font-size: 2em;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    
}

ul {
    padding: 0;
    margin: 0;
    text-align: center;
}

li {
    padding: 30px 10% 30px 10%;
    margin: 0;
    list-style-type: none;
    width: 100%;
    background-color: aliceblue;
    text-align: center;
}

.heading {
    font-size: 1.2em;
    padding: 30px;
    text-align: center;
    width: 100%;
}

.button-wrapper {
    height: 200px;
    width: 100%;
    padding: 0px 10% 0px 10%;
    position: relative;
    text-align: center;
    background-color:#FF1536;

}

.btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.row {
    background-color:#FF1536;
}

button {
    background-color: #FF1536;
    color:#E7C739;
    font-family: 'Didact Gothic', sans-serif;
    padding: 0;
    font-size: 1.5em;
    border: none;
    padding: 30px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#top-button-wrapper {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px
}

#deck {
    display: none;
}

#kayak-table {
    display: none;
}