#boat-wrapper {
    background-color: #FF1536;
    text-align: center;
    border: 12px solid white;
    border-top: 0px;
    box-sizing: border-box;
}

#boat-wrapper h2 {
    font-size: 2.5em;
    color: #E7C739;
    margin: 0;
    padding: 35px;
}

#boat-tile-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    
    
}

.boat-tiles {
    width: 300px;
    height: 300px;
    position: relative;
    border: 12px solid white
}

#fishing {
    background-image: url("../media/stock-images/fishing.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#kayak {
    background-image: url("../media/stock-images/kayak.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#pontoon {
    background-image: url("../media/stock-images/pontoon.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.boat-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, .75);
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    transition: ease-in .2s;
}

.boat-tiles:hover .boat-overlay {
    opacity: 1
}

.boat-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
}

.boat-tiles a {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
}

.boat-tiles i {
    font-size: 3em;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 15;
}